.icons {
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    transform: rotate(-25deg) skew(25deg);
}

.icons li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 10px;
}

.icons li:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: #2a2a2a;
    transform-origin: top;
    transform: skewX(-41deg)
}
.icons li:after {
    content: '';
    position: absolute;
    top: 0;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg)
}

.icons li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #333;
    color: rgba(255, 255, 255, 0.2);
    font-size: 30px !important;
}

.icons li:hover span {
    z-index: 1000;
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}

.icons li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

.icons li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
}

.icons li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
}

.icons li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}

.icons li:hover span:nth-child(1) {
    transform: translate(0, 0);
    opacity: 0.2;
}

.icons li:nth-child(1):hover span {
    background: #3b5999;
}

.icons li:nth-child(2):hover span {
    background: #55acee;
}

.icons li:nth-child(3):hover span {
    background: #0077B5;
}

.icons li:nth-child(4):hover span {
    background: #25D366;
}

.icons li:nth-child(5):hover span {
    background: #e4405f;
}